@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BJCree:wght@400;500;600;700&family=Bungee&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Felipa&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
  background: #040303;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #040303;
}

canvas {
  display: block;
}

.text-1{
    font-family: "Host Grotesk", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-style: normal;
}
